<!DOCTYPE html>
<html>

<head>
    {%load static%}
    <title>Projects Home Page</title>
    <link rel="stylesheet" href="{%static 'CSS/index.css'%}">
</head>

<body>
    <div class="container">
        <div class="col">
            <div class="web web1">
                <h3>Human Resources</h3>
            </div>
            <a href="login" style="color: black; text-decoration: none">
                <div class="web web2">
                    <h3>Student Affairs</h3>
                </div>
            </a>

            <br />
            <div class="web web3">
                <h3>Higher studies</h3>
            </div>
            <div class="web web4">
                <h3>Laboratory tracking</h3>
            </div>
        </div>
    </div>
</body>

</html>