<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {%load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'CSS/search_edit.css' %}">
    <title>Search</title>
</head>

<body>

    <div class="header">
        <h1>Search</h1>
    </div>
    <div class="content">
        <div class="inside">
            <input type="text" class="label-title" placeholder="Search..">
            <button type="submit" class="btn">Search</button>
            <dir>
                <p>Student name:<a href="edit">Student1</a></p>
            </dir>
        </div>
    </div>

</body>

</html>