<html>
<header>
    <title>View Page</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'CSS/nav.css'%}">
    <link rel="stylesheet" href="{%static 'CSS/view page.css'%}">
    <!-- the page title -->


    <body>
        <nav>
            <!-- <img src="WhatsApp Image 2022-04-30 at 3.16.53 PM.jpeg" alt="school_affairs_logo"
    width="100" height="55"> -->
            <ul>
                <li class="active"><a href="home">Home</a></li>
                <li><a href="view">Students</a></li>
                <li><a href="add">Add</a></li>
                <li><a href="search_edit">Edit</a></li>
                <li><a href="search">Register</a></li>
                <li><a href="login">logout</a></li>
            </ul>
        </nav>
        <center>
            <h2 id="header">Informations of all students</h2>
        </center>
        <!-- the page name -->
        <table>
            <thead>
                <tr>
                    <!--  the attributes of the table -->
                    <th>
                        <h3>ID</h3>
                    </th>
                    <th>
                        <h3>Name</h3>
                    </th>
                    <th>
                        <h3>GPA</h3>
                    </th>
                    <th>
                        <h3>Level</h3>
                    </th>
                    <th>
                        <h3>Department</h3>
                    </th>
                    <th>
                        <h3>status</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--   radio button to change the status from active to inactive -->
                        <input type="radio" name="1" />active
                        <input type="radio" name="1" />inactive
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--      <input type="radio" name="2" />active
          <input type="radio" name="2" />inactive -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--  <input type="radio" name="3" />active
          <input type="radio" name="3" />inactive -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!-- <input type="radio" name="4" />active
          <input type="radio" name="4" />inactive -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--  <input type="radio" name="5" />active
          <input type="radio" name="5" />inactive -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <!--  <input type="radio" name="6" />active
          <input type="radio" name="6" />inactive -->
                    </td>
                </tr>
            </tbody>
        </table>
    </body>

</html>