/*
    COLORS
    #541412
    #F8D4BA
*/

body {
    background: linear-gradient(to right, #25274D 10%, #25274D 20%, #25274D 40%);
}

.edit-form {
    font-family: "calibri";
    width: 650px;
    margin: 30px auto;
    border-radius: 10px;
}

.form-header {
    background-color: #2E9CCA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 15px 7px;
}

.form-header h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 20px 0;
    /* border-bottom: 1px solid #2E9CCA; */
}

.form-body {
    font-size: 21px;
    padding: 10px 40px;
    /* background: linear-gradient(to right, #2E9CCA 50%, #2E9CCA 1%, #2E9CCA 99%); */
    background-color: #2E9CCA;
    box-shadow: 0px 0px 15px 7px;
}

.label-title {
    display: inline-block;
    color: white;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input,
select {
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    background: white;
    outline: none;
}

.input {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    position: relative;
}

.form-footer {
    background-color: #2E9CCA;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 40px;
    text-align: center;
    border-top: 1px solid #2E9CCA;
}

.btn {
    display: inline-block;
    padding: 10px 93px;
    background-color: #25274D;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(0.5, 0.5);
}

.btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

i.fa-circle-check {
    position: absolute;
    /* top: 0px; */
    bottom: 7px;
    right: 10px;
    visibility: hidden;
}

i.fa-circle-exclamation {
    position: absolute;
    bottom: 32px;
    right: 10px;
    visibility: hidden;
}

.error input {
    border-color: #e74c3c;
}

.success input {
    border-color: #2ecc71;
}

.input.success i.fa-circle-check {
    color: #2ecc71;
    visibility: visible;
}

.input.error i.fa-circle-exclamation {
    color: #e74c3c;
    visibility: visible;
}

i.fa-book-open-reader {
    position: absolute;
    left: 0;
}

.error {
    color: #93271b;
}